.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: rgb(248, 243, 236);
  color: #333;
}

h1 {
  margin-bottom: 1rem;
}

.A {
  color: #f86655;
  font-size: 4rem;
}

.B {
  color: #f8412d;
  font-size: 4rem;
  font-variant: small-caps;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  padding: 0rem 2rem 0rem 2rem;
}

button {
  padding: 0.5rem 1.1rem;
  font-size: 1.2rem;
  background-color: #ef4321;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d82c0a;
}

/* Pour les écrans de petite taille (téléphones) */
@media screen and (max-width: 768px) {
  .home-container {
    padding: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  .A,
  .B {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    padding: 0rem;
  }

  button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}