<body>

    <header>
        <div class="head-text">
            <p>404 Not Found</p>
        </div>
    </header>

    <main>
        <div class="main-wrapper">
            <picture class="scarecrow-img">
                <img src="https://raw.githubusercontent.com/nat-oku/devchallenges/main/Scarecrow.png" alt="scarecrow">
            </picture>
            <div class="error-text">
                <h2>Oops, quelque chose a mal tourné.</h2>
                <p>La page que vous recherchez semble avoir disparu ou est momentanément inaccessible. Veuillez nous excuser pour le désagrément.</p>
                <span class="input-group-btn">
                    <button class="btn" type="button" routerLinkActive="ma-classe-active" [routerLink]="['/accueil']">Retour à l'accueil</button>
                </span>
            </div>
        </div>

    </main>

</body>