<div class="Tab">
    <button class="btn btn-secondary" [routerLink]="['/addproduct']">Ajouter un produit</button>
    <div class="table-responsive">
        <table class="table">
            <thead class="bgThead">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productToDisplay">
                    <th scope="row">{{product.id}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td class="Btn">
                        <a class="btn btn-warning me-2" (click)="onUpdate(product)">Modifier</a>
                        <a class="btn btn-danger" (click)="onDelete(product.id!)">Supprimer</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>


    <app-update-product #editModal></app-update-product>

    <app-delete-product (confirmEvent)="deleteProduct()" (cancelEvent)="onCancelDelete()"></app-delete-product>
</div>